<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--本站点使用的文件服务器名-->
    <add key="FS_ServerName" value="Base"/>
    <!--主文件服务器站点的Url-->
    <add key="FS_MasterServerUrl" value="http://127.0.0.1:8004/FileStore/Services/MasterService.asmx"/>
    <!--是否分布式存储-->
    <add key="FS_Distributed" value="False"/>
    <!--是否主站点-->
    <add key="FS_IsMaster" value="True"/>
    <!--用户输错密码锁定时间-->
    <add key="ErrPwdLockTime" value="10" />
    <!--用户输错密码锁的次数-->
    <add key="ErrPwdTimes" value="3" />
    <!--是否启用分布式事务-->
    <add key="UseMsdtc" value="True" />
    <!-- 是否启用缓存-->
    <add key="UseCache" value="False" />
    <!--是否用户单一登录模式，设置为False可以提高效率-->
    <add key="UserSingleLogin" value="False" />
    <!--流程——是否显示word导出按钮-->
    <add key="Flow_HasWordExportBtn" value="False"/>
    <!--全局主题配色(Default,Vista)-->
    <add key="GlobalSysColor" value="Default"/>
    <!--入口风格(Tree,Menu)-->
    <add key="AuthMode" value="Tree"/>
    <!--KindEditor富文本框保存地址-->
    <add key="KindEditorSavePath" value="/KindEditor/Upload"/>

    <!--Url加密开关  true or false-->
    <add  key="IsOpenUrlEncryption" value="true"/>
    <!--Url加密有效时间  页面有效时间（分钟）-->
    <add  key="Minutes" value="20"/>
    <!--不做url加密处理的页面，中间||隔开-->
    <add  key="NotEncryptionUrl" value="loginbegin.aspx||checkcode.aspx||logout.aspx"/>

    <add key="Log4NetPath" value="D:\5.3平台日志\"/>
    <!--Excel导入导出模板的存放路径-->
    <add key="ExcelTemplatePath" value="D:\02 Study\17 组件类库\13 项目基础版\5.3\BusinessModule\Config\ExcelTemplate"/>

    <!--是否连接Oracle数据库-->
    <add key="IsOracleDb" value="True"/>
  </appSettings>

  <connectionStrings>
    <add name="Workflow" connectionString="DATA SOURCE=10.10.1.101:1521/FE;PERSIST SECURITY INFO=True;USER ID=FE_WORKFLOW;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
    <add name="FileStore" connectionString="DATA SOURCE=10.10.1.101:1521/FE;PERSIST SECURITY INFO=True;USER ID=FE_FILESTORE;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
    <add name="Market" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_Market;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_Project;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="KnowledgeBase" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_KnowledgeBase;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Base" connectionString="DATA SOURCE=10.10.1.101:1521/FE;PERSIST SECURITY INFO=True;USER ID=FE_BASE;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
    <add name="Demo" connectionString="DATA SOURCE=10.10.1.101:1521/FE;PERSIST SECURITY INFO=True;USER ID=FE_DEMO;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
    <add name="DocConfig" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_DocConfig;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>

    <machineKey validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A77" decryption="3DES" validation="SHA1" />
    <authentication mode="Forms">
      <forms cookieless="AutoDetect" loginUrl="/Portal/LoginBegin.aspx" protection="None" timeout="30"></forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="204800" executionTimeout="36000"/>
    <pages validateRequest="false">
    </pages>
    <customErrors mode="Off"></customErrors>
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=EmulateIE7" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200">
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>