<div class="mini-toolbar" id="btnDiv">
    <table>
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" id="btnSave" iconcls="icon-add" onclick="add({title:'添加回复多图文',height:'500px'})" plain="true">
                    增加</a> <a class="mini-button" iconcls="icon-edit" onclick="edit({title:'编辑回复多图文',height:'500px'});"
                        plain="true">编辑</a><a class="mini-button" iconcls="icon-remove" onclick="del()"
                            plain="true">删除</a>
            </td>
            <td id="btnRight">
                <input class="mini-buttonedit searchbox" id="key" emptytext="请输入名称" style="width: 200px;"
                    onenter="quickSearch('Name');" onbuttonclick="quickSearch('Name');" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" idfield="ID" url="GetList" allowmovecolumn="false"
        style="width: 100%; height: 100%;" pagesize="20">
        <div property="columns">
            <div type="checkcolumn">
            </div>
            <div field="Name" headeralign="center" width="*" align="left">
                名称</div>
        </div>
    </div>
</div>