<div class="mini-toolbar" id="btnDiv">
    <table>
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" id="btnSave" iconcls="icon-add" onclick="add({title:'添加群发图文',height:'500px'})" plain="true">
                    增加</a> <a class="mini-button" iconcls="icon-edit" onclick="edit({title:'编辑群发图文',height:'500px'});"
                        plain="true">编辑</a> <a class="mini-button" iconcls="icon-search" onclick="viewArticle()"
                            plain="true">预览</a><a class="mini-button" iconcls="icon-remove" onclick="del()"
                            plain="true">删除</a>
            </td>
            <td id="btnRight">
                <input class="mini-buttonedit searchbox" id="key" emptytext="请输入标题或摘要" style="width: 200px;"
                    onenter="quickSearch('Title,Description');" onbuttonclick="quickSearch('Title,Description');" />
                <a class="mini-button" onclick="showWindow('queryWindow')" iconcls="icon-find" plain="true">
                    详细查询</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" idfield="ID" url="GetList" allowmovecolumn="false"
        style="width: 100%; height: 100%;" pagesize="20">
        <div property="columns">
            <div type="checkcolumn">
            </div>
            <div field="Title" width="200" headeralign="center" align="left" >
                标题</div>
            <div field="Author" width="100" headeralign="center" align="center" >
                作者</div>
            <div field="Description" headeralign="center" width="*" align="left">
                摘要</div>
        </div>
    </div>
</div>
<div id="queryWindow" class="mini-window" title="详细查询" style="width: 690px; height: 145px;"
    showmodal="true" allowresize="false" allowdrag="true">
    <div class="queryDiv">
        <form id="queryForm" method="post">
        <table>
            <tr>
                <td width="10%" align="center">
                    标题
                </td>
                <td width="23%" align="left">
                    <input name="$LK$Title" class="mini-textbox" style="width: 75%" />
                </td>
                <td width="10%" align="center">
                    作者
                </td>
                <td width="23%" align="left">
                    <input name="$LK$Author" style="width: 75%;" class="mini-textbox" />
                </td>
                <td width="10%" align="center">
                    摘要
                </td>
                <td width="23%" align="left">
                    <input name="$LK$Description" style="width: 75%;" class="mini-textbox" />
                </td>
            </tr>
        </table>
        </form>
        <div>
            <a class="mini-button" onclick="search()" iconcls="icon-find" style="margin-right: 20px;">
                查询</a> <a class="mini-button" onclick="clearQueryForm('queryForm')" iconcls="icon-undo">
                    清空</a>
        </div>
    </div>
</div>

<div id="editWindow" class="mini-window" title="图文预览" style="width:250px;" 
    showModal="true" allowResize="true" allowDrag="true"
    >
    <div id="editform" class="form" >
        <table style="width:100%;">
            <tr>
                <td style="width:80px;">用户昵称：</td>
                <td style="width:120px;"><input name="nickname" class="mini-textbox" /></td>
            </tr>
            <tr>
                <td style="text-align:center;padding-top:5px;padding-right:20px;" colspan="2" >
                    <a class="Update_Button" href="javascript:updateData()">提交</a> &nbsp;&nbsp;&nbsp;
                    <a class="Cancel_Button" href="javascript:cancelData()">取消</a>
                </td>                
            </tr>
       
        </table>
    </div>
</div>

<script language="javascript" type="text/javascript">
    mini.parse();
    var editWindow = mini.get("editWindow");
    var grid = mini.get("dataGrid");
    function viewArticle() {
        var rows = grid.getSelecteds();
        if (rows.length != 1) {
            msgUI("请选中一行！");
        }
        else {
            editWindow.show();
            var form = new mini.Form("#editform");
            form.clear();
        }
    }

    function cancelData() {
        editWindow.hide();
    }
    function updateData() {
        var form = new mini.Form("#editform");
        var o = form.getData();
        form.loading();
        var mediaid = getValues(grid.getSelecteds(), "MediaID");
        $.ajax({
            type: "POST",
            url: "ViewArticle",
            data: { MpID: getQueryString("MpID"), MediaID: mediaid, NickName: o.nickname },
            success: function (json) {
                form.unmask();
                if (json.error != "") {
                    msgUI(json.error);
                }
                else {
                    editWindow.hide();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                form.unmask();
                alert(jqXHR.responseText);
            }
        });

    }
</script>