<div id="formlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div region="north" height="32" showspliticon="false" showheader="false" allowresize="false"
        splitsize="0" style="border: 0;">
        <div class="mini-toolbar" id="btnDiv">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%; text-align: left;">
                        <a class="mini-button" plain="true" iconcls="icon-save" onclick="save();">保存</a>
                        <a class="mini-button" plain="true" iconcls="icon-cancel" onclick="closeWindow()">取消</a>
                    </td>
                    <td style="white-space: nowrap;">
                        <a class="mini-button" onclick="showWindow('helpWindow')" iconcls="icon-help" plain="true">
                            帮助</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div title="center" region="center" style="border: 0;">
        <form id="dataForm" method="post">
        <input name="ID" class="mini-hidden" />
        <input name="IsDelete" class="mini-hidden" />
        <div class="basediv">
            <fieldset>
                <legend style="font-weight: bold">公众号信息</legend>
                <table style="width: 100%">
                    <tr style="height: 0px">
                        <td width="15%">
                        </td>
                        <td width="35%">
                        </td>
                        <td width="15%">
                        </td>
                        <td width="35%">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            名称
                        </td>
                        <td>
                            <input name="Name" class="mini-textbox" style="width: 100%" required="true"
                                vtype="maxLength:50" />
                        </td>
                        <td>
                            类型
                        </td>
                        <td>
                            <input class="mini-combobox" name="Type" style="width: 100%;" valuefield="value" textfield="text"
                                data="MpType" shownullitem="false" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            描述
                        </td>
                        <td colspan="3">
                            <input name="Remark" class="mini-textarea" style="width: 100%" vtype="maxLength:4000" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            AppID
                        </td>
                        <td>
                            <input name="AppID" class="mini-textbox" style="width: 100%" vtype="maxLength:50" />
                        </td>
                        <td>
                            AppSecret
                        </td>
                        <td>
                            <input name="AppSecret" class="mini-textbox" style="width: 100%" vtype="maxLength:50" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Token
                        </td>
                        <td>
                            <input name="Token" class="mini-textbox" style="width: 100%" vtype="maxLength:200" />
                        </td>
                        <td>
                            EncodingAESKey
                        </td>
                        <td>
                            <input name="EncodingAESKey" class="mini-textbox" style="width: 100%" vtype="maxLength:200" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            商户ID
                        </td>
                        <td>
                            <input name="MchID" class="mini-textbox" style="width: 100%" vtype="maxLength:200" />
                        </td>
                        <td>
                            微信支付AppSecret
                        </td>
                        <td>
                            <input name="WxPayAppSecret" class="mini-textbox" style="width: 100%" vtype="maxLength:200" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            证书私钥
                        </td>
                        <td>
                            <input name="CertPassword" class="mini-textbox" style="width: 100%" vtype="maxLength:200" />
                        </td>
                        <td>
                            证书物理路径
                        </td>
                        <td>
                            <input name="CertPhysicalPath" class="mini-textbox" style="width: 100%" vtype="maxLength:4000" />
                        </td>
                    </tr>
                    <tr>
                        <td>自动同步粉丝
                        </td>
                        <td>
                            <input name="AutoSyncUser"  class="mini-checkbox"  />
                        </td>
                        <td colspan="2">
                        </td>
                    </tr>
                    @*<tr>
                        <td>使用人
                        </td>
                        <td colspan="3">
                            <input name="OwnerUserIDs" textname="OwnerUsers" class="mini-buttonedit" style="width: 100%;" emptytext="请输入拼音..."/>
                        </td>
                    </tr>*@
                </table>
            </fieldset>
        </div>
        </form>
    </div>
</div>
<div id="helpWindow" class="mini-window" title="帮助" style="width: 700px; height: 230px;
    display: none;" showmodel="true" allowresize="false" allowdrag="true">
    <fieldset>
        <legend style="font-weight: bold;">控件背景颜色说明</legend>
        <table border="1" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td width="12%" align="center" style="font-weight: bold;">
                    标识颜色
                </td>
                <td width="15%" align="center" style="font-weight: bold;">
                    标识说明
                </td>
                <td width="75%" align="center" style="font-weight: bold;">
                    备注
                </td>
            </tr>
            <tr>
                <td style="background-color: #FFFACD;">
                </td>
                <td align="center">
                    必填字段
                </td>
                <td>
                    该颜色表示字段为必填字段，字段的值不可为空；
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend style="font-weight: bold;">图标说明</legend>
        <table border="1" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td width="12%" align="center" style="font-weight: bold">
                    按钮图标
                </td>
                <td width="15%" align="center" style="font-weight: bold">
                    图标名称
                </td>
                <td width="73%" align="center" style="font-weight: bold">
                    图标说明
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="/CommonWebResource/Theme/Default/MiniUI/images/textbox/error.gif" title="警告" />
                </td>
                <td align="center">
                    警告图标
                </td>
                <td>
                    图标对应字段的值输入有误；
                </td>
            </tr>
        </table>
    </fieldset>
</div>
<script language="javascript" type="text/javascript">
@Html.GetEnum("WeChat.MpType")
</script>
<script language="javascript" type="text/javascript">
    //addMultiUserSelector("OwnerUserIDs");
</script>
